.navBar {
  background-color: var(--mt-l--mt-white);

  .contactButton {
    padding: 0.62rem;
    border: 0.06rem solid var(--mt-dark-blue);
    border-radius: 3.12rem;
    background-color: var(--mt-dark-blue);
    font-size: 1rem;
    color: var(--mt-white);

    &:hover {
      background-color: var(--mt-dark-blue);
      color: var(--mt-white);
    }

    .contactIcon {
      width: 3.12rem;
      height: 3.12rem;
      margin-left: 2.5rem;
      padding: 0.56rem;
      border-radius: 50%;
      background-color: var(--mt-gray-blue);
      color: var(--mt-white);
      transition-duration: .3s;
      transition-timing-function: ease-in;

      &:hover {
        background-color: var(--mt-blue);
        color: var(--mt-golden-yellow);
      }
    }
  }
}



